.camionesFu{
  align-items: center;
}
.containerTable {
  margin: 0 auto;
}
.camionesTitle{
  width: 100%;
  display: flex;
  justify-content: center;
}
.tableContainer{
  border-radius: 4px;
  background-color: aliceblue;
  position: relative;
  left: 235px;
  flex-direction: column;
  width: 755px;
  height: 1100px;
  padding-left: 80px;
  padding-right: 40px;
}

.tablaArriba{
  position: relative;
  left: -80px;
  padding: 0px 50px 0px;;
  align-items: center;
  background: var(--primary);
  display: flex;
  justify-content:flex-start;
  gap: 62px;
  width: 775px;
  height: 60px;


}

.tableListItem{
  display: row;

  width: 20px;
  
}
.itemContainer{ 
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.listDiv1 {
  position: relative;
  top: 20px;
  left: -20px;
  width: 100%;
  display: grid;
  place-content: center;
  padding-bottom: 20px;
  min-width: 80px;
}

.listDiv2 {
  position: relative;
  top: 20px;
  left: -15px;
  width: 100%;
  display: grid;
  padding-bottom: 20px;
  place-content: center;
  min-width: 80px;
}

.listDiv3 {
  position: relative;
  top: 20px;
  left: -27px;
  width: 100%;
  display: grid;
  place-content: center;
  min-width: 150px;
  padding-bottom: 20px;
 
}
.listDiv4 {
  position: relative;
  top: 20px;
  left: -65px;
  width: 100%;
  display: grid;
  padding-bottom: 20px;
  place-content: center;
  min-width: 80px;
 
}
.listDiv5 {
  position: relative;
  left: -50px;
  top: 20px;
  width: 100%;
  display: grid;
  place-content: center;
  min-width: 80px;
  padding-bottom: 20px;
 
}
.listDivArriba {
  position: relative;
  left: 5px;
  top:15px;
  font-size: 20px;
  min-width: 110px;
  padding-bottom: 30px;
}
.listDivArribaId{
  position: relative; 
  left: 38px;
  top:15px;
  font-size: 20px;
  min-width: 110px;
  padding-bottom: 30px;
}
.itemContainer{
  min-width: 80px;
  padding: 2px;
}