
.navbarContainer {
    display: flex;
    position: relative;
    left: 300px;
    gap: 30px;
    align-items: center;
  }
  
  .loginButton .signupButton {
    margin-left: 20px;
  
    right: 20px;
  }

  .titleTyS {
    position: relative;
    left: 70px;
    top: -30px;
    
  }

  .logoutButton {
    background: floralwhite;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
   
  