
.navbarHeader {
      background-color: rgb(65, 63, 63);
      height: 100px;
      align-items: center;
}

.navbarContainer {
    display: flex;
    position: relative;
    left: 335px;
    gap: 30px;
    top: -32px;
    align-items: center;
  }

  .titleTyS {
    position: relative;
    left: 70px;
    top: -60px;
    
  }

  .logoutButton {
    position: relative;
    top: -32px;
    left: 100px;
    padding: 6px 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.99em;
  }

  .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

.listItem{
  display: grid;
  padding: .5rem ;
  cursor: pointer;

  &:hover{
    background-color: rgb(65, 63, 63);
  }
}
.menu{
  flex-direction: column;
  gap: .5rem;
  text-align: center;
  
}
.navBar{
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
}
.navBarMenu {
  position: absolute;
  background: red;
  padding: 1.5rem;
  border-radius: 10px;
  top: 7rem;
  right: 10%;
  height: 300px;
  width: 200px;
  transform: translateX(50%);
  z-index: 2000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0 , 0, 0.05) 0px 4px 6px -2px;
  border: 3px solid white ;
  transition: .4s ease-in-out;
}
   
  .btnOne {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
  }


    .icon{
      position: relative;
      top: -30px;
      font-size: 70px;
      color: black;
    }
  

