
.navbarHeader {
      background-color: rgb(65, 63, 63);
      height: 100px;
      align-items: center;
}

.navbarContainer {
    display: flex;
    position: relative;
    left: 335px;
    gap: 30px;
    top: -32px;
    align-items: center;
  }

  .titleTyS {
    position: relative;
    left: 70px;
    top: -60px;
    
  }

  .logoutButton {
    position: relative;
    top: -31px;
    background: floralwhite;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
   
  